/*Password generator update*/
:root {
    --text-center: center;
    --relative-position: relative;
    --left-orientation: 80%;
    --initiate-flex: flex;
    --width-50: 50%;
    --horizontal-scroll: hidden;
}

body {
    overflow-x: var(--horizontal-scroll);
    background-color: #b3abab !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

#Work p {
    font-family: monospace;
}

#Work img {
    border: 5px solid #830909ea;
    border-radius: 10px;
}

div#password, div#dashboard, div#scheduler, div#readme {
    margin-top: 15px;
}

#Contact-Me nav ul {
    margin: 15px;
    padding: 0px;
    display: var(--initiate-flex);
    justify-content:space-around;
    list-style-type: none;
    font-size: 25px;
}

@media screen and (max-width: 980px) {
    div#avatar {
        margin-top: 13px;
    }
}

#quiz img, #password img, #dashboard img, #scheduler img, #readme img {
    border: 5px solid #830909ea;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    #avatar img {
        display: none;
    }

    div#quiz, div#password, div#dashboard, div#scheduler, div#readme {
        width: 100%;
    }
}


@media screen and (max-width: 575px) {
    #avatar img {
        display: none;
    }

    div#quiz, div#password, div#dashboard, div#scheduler, div#readme {
        width: 100%;
    }
}